.pagination {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.pagination .button {
    background: black;
    /* padding: 1rem 1rem; */
    border-radius: 8px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.pagination .button:hover {
    background: #333;
}

/* mobile */
@media screen and (max-width: 768px) {
    .pagination {
        flex-direction: column;
    }

    .pagination .button {
        padding: 1rem 0;
        width: 100%;
    }

}