.serverDown{
    width: 100vw;
    height: 100vh;
    background-color: #535cfa;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offlineMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.message{
    display: flex;
    flex-direction: column;
}

.buttonRetry{
    background-color: #fff;
    color: #535cfa;
    padding: 1rem 4rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttonRetry:hover{
    background-color: #999bbf;
    color: #fff;
    transition: ease-in-out 0.3s;
}